flows.json
[
    {
        "id": "999691d3bc673baf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2d315e3e7cbb974",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "my_test_flow #1 ",
        "url": "/my_test_flow1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "e2838c07cd85af22"
            ]
        ]
    },
    {
        "id": "e2838c07cd85af22",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 1",
        "func": "\nfunction sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\nawait sleep(2000)\n\nmsg.payload = {resultOut: 1}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerpool",
                "module": "workerpool"
            },
            {
                "var": "workerThreads",
                "module": "worker_threads"
            }
        ],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "b235fbc35ea1698f"
            ]
        ]
    },
    {
        "id": "b235fbc35ea1698f",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "0bd1975ff12d3233",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "my_test_flow30",
        "url": "/my_test_flow30",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "0a769eddaa6e2aa9"
            ]
        ]
    },
    {
        "id": "0a769eddaa6e2aa9",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 2",
        "func": "\nfunction sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\nawait sleep(30)\n\nmsg.payload = {resultOut: 1}\nnode.log(\"info: \" + \"flow30\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "275480375549617d"
            ]
        ]
    },
    {
        "id": "275480375549617d",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "420db44793d130a5",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "my_test_flow100",
        "url": "/my_test_flow100",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "1bbd25503be50e5e"
            ]
        ]
    },
    {
        "id": "1bbd25503be50e5e",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 3",
        "func": "\nfunction sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\n// blocks until IO works nuder the hood \nawait sleep(100)\n\nmsg.payload = {resultOut: 1}\nnode.log(\"info to file: \" + \"flow100\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "0f6e224a8f1d931d"
            ]
        ]
    },
    {
        "id": "0f6e224a8f1d931d",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "4636a82d3cbd13e3",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "my_test_flow1000",
        "url": "/my_test_flow1000",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "7c9138cea5177a69"
            ]
        ]
    },
    {
        "id": "7c9138cea5177a69",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 4",
        "func": "\nfunction sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\nasync function heavyTask() {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 1000000000; i++) {\n        result += i;\n    }\n    return result;\n    \n}\nheavyTask()\n\nmsg.payload = {resultOut: 1}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 660,
        "wires": [
            [
                "b30ec6a0fd66f567"
            ]
        ]
    },
    {
        "id": "b30ec6a0fd66f567",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "0230a6e7a44b9276",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "my_test_flow_heavy_task",
        "url": "my_test_flow_heavy_task",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "5fce39b7389dec68"
            ]
        ]
    },
    {
        "id": "5fce39b7389dec68",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 5",
        "func": "\n// Define a heavy task function that performs a computation with input data\nfunction heavyComputation() {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 100000000; i++) {\n        result += 1;\n    }\n    return result;\n}\n\n\n//perform computation  // without blocking main thread to execute \nconst result = await heavyComputation ()\n\n//const result = await heavyComputation()\n    \nmsg.payload = { resultOut: result }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "ab9c1b459f4065b5"
            ]
        ]
    },
    {
        "id": "ab9c1b459f4065b5",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "f1ee6e8bc0e22b37",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "pool_my_test_flow_heavy_task",
        "url": "/pool/my_test_flow_heavy_task",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "88c3c1349bb72276"
            ]
        ]
    },
    {
        "id": "88c3c1349bb72276",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 6",
        "func": "const pool = global.get(\"globalWorkerPool\")\n// Define a heavy task function that performs a computation with input data\n// this operation do not block but performs long-run execution\nfunction heavyComputation(data) {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 100000000; i++) {\n        result += 1;\n    }\n    return result;\n}\n\nasync function asyncCompute() {\n\n    return  pool\n        .exec(heavyComputation, [\"msg\"])\n        .then(async function init(input) {\n            return input;\n        });\n\n}\n\n//perform computation  // without blocking main thread to execute \nconst result = await asyncCompute()\n\n//const result = await heavyComputation()\n\nmsg.payload = { resultOut: result }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 980,
        "wires": [
            [
                "ea79011ffc7614ab"
            ]
        ]
    },
    {
        "id": "ea79011ffc7614ab",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 980,
        "wires": []
    },
    {
        "id": "9b52e80d13d3bbc9",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "pool_and_block_my_test_flow_heavy_task",
        "url": "/pool_and_block/my_test_flow_heavy_task",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1080,
        "wires": [
            [
                "46a8773968350567"
            ]
        ]
    },
    {
        "id": "46a8773968350567",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 7",
        "func": "const pool = global.get(\"globalWorkerPool\")\n// We simulate  heavy task function that performs a computation with input data\n// this operation do not block but performs long-run execution\nfunction heavyComputation(data) {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 1000000; i++) {\n        result += 1;\n    }\n    return result;\n}\n\n// we simulate IO operation to socket\nfunction sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\nasync function asyncCompute() {\n\n    return  pool\n        .exec(heavyComputation, [\"msg\"])\n        .then(async function init(input) {\n            return input;\n        });\n\n}\n\n//perform heavy computation  // without blocking main thread to execute \nconst result = await asyncCompute()\n\n//perform non blocking IO(without blocking main thread to wait here all the time)\n\nawait sleep(30)\n\n//const result = await heavyComputation()\n\nmsg.payload = { resultOut: result }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "032658db9a6ef352"
            ]
        ]
    },
    {
        "id": "032658db9a6ef352",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 1080,
        "wires": []
    },
    {
        "id": "76088fea1e3e3e66",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "pool_my_test_flow_heavy_task",
        "url": "/pool/my_test_flow_heavy_task_transient",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "4ea122fb00bb0602"
            ]
        ]
    },
    {
        "id": "4ea122fb00bb0602",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 8",
        "func": "const pool = global.get(\"globalWorkerPool\")\n// Define a heavy task function that performs a computation with input data\n// this operation do not block but performs long-run execution\nfunction heavyComputation(data) {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 100000000; i++) {\n        result += 1;\n    }\n    return result;\n}\n\nasync function asyncCompute() {\n\n    return  pool\n        .exec(heavyComputation, [\"msg\"])\n        .then(async function init(input) {\n            return input;\n        });\n\n}\n\n//perform computation  // without blocking main thread to execute \nconst result = await asyncCompute()\n\n//const result = await heavyComputation()\n\nmsg.payload = { resultOut: result, poolVar: pool }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 480,
        "y": 1200,
        "wires": [
            [
                "88bafacb3040cd18"
            ]
        ]
    },
    {
        "id": "98f9a6e65a1d2730",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 1200,
        "wires": []
    },
    {
        "id": "88bafacb3040cd18",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 9",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 680,
        "y": 1200,
        "wires": [
            [
                "f691263ff8831de5"
            ]
        ]
    },
    {
        "id": "f691263ff8831de5",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 10",
        "func": "\n msg.statusCode = 500;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1200,
        "wires": [
            [
                "98f9a6e65a1d2730"
            ]
        ]
    },
    {
        "id": "b21405885cf0205c",
        "type": "http in",
        "z": "999691d3bc673baf",
        "name": "pool_my_test_flow_heavy_task2",
        "url": "/pool/my_test_flow_heavy_task_transient2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "4a06300d6d3f9eb8"
            ]
        ]
    },
    {
        "id": "4a06300d6d3f9eb8",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 11",
        "func": "const pool = global.get(\"globalWorkerPool\")\n// Define a heavy task function that performs a computation with input data\n// this operation do not block but performs long-run execution\nfunction heavyComputation(data) {\n    // Simulate a heavy computation\n    let result = 0;\n    for (let i = 0; i < 100000000; i++) {\n        result += 1;\n    }\n    return result;\n}\n\nasync function asyncCompute() {\n\n    return  pool\n        .exec(heavyComputation, [\"msg\"])\n        .then(async function init(input) {\n            return input;\n        });\n\n}\n\n//perform computation  // without blocking main thread to execute \nconst result = await asyncCompute()\n\n//const result = await heavyComputation()\n\nmsg.payload = { resultOut: result }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "fa81d6d65b963bdc"
            ]
        ]
    },
    {
        "id": "cdf4263f06a418e9",
        "type": "http response",
        "z": "999691d3bc673baf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1320,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fa81d6d65b963bdc",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 12",
        "func": "const dbPool = global.get(\"globalMysql2Pool\")\n\nconst connection = await dbPool.getConnection();\n\n\ntry {\n\n\n     await connection.beginTransaction();\n\n      const res = await connection.query('INSERT INTO PERSONS (LastName, FirstName) VALUES (?, ?)', ['John Doe', 'john@example.com']);\n      \n    \n     // await connection.commit();\n\n\n} catch (err) {\n        // Rollback the transaction in case of error\n        await connection.rollback();\n        await   connection.release();\n        msg.statusCode = 500;\n        console.error('Transaction failed, rolled back.', err);\n    } finally {\n        // Release the connection back to the pool\n      //  connection.release();\n    }\n\n\nmsg.connection = connection\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "workerThreads",
                "module": "worker_threads"
            },
            {
                "var": "workerpool",
                "module": "workerpool"
            }
        ],
        "x": 730,
        "y": 1340,
        "wires": [
            [
                "a136e9f22e177843"
            ]
        ]
    },
    {
        "id": "a136e9f22e177843",
        "type": "function",
        "z": "999691d3bc673baf",
        "name": "function 13",
        "func": "\n// connection from first node \nconst connection = msg.connection;\n\n\ntry {\n\n      const res = await connection.query('INSERT INTO PERSONS (LastName, FirstName) VALUES (?, ?)', ['John Doe', 'john@example.com']);\n      \n      msg.statusCode = 500;\n      await connection.commit();\n\n\n} catch (err) {\n        // Rollback the transaction in case of error and free pool worker\n        await connection.rollback();\n        await connection.release();\n        console.error('Transaction failed, rolled back.', err);\n    } finally {\n        // Release the connection back to the pool\n       await connection.release();\n       msg.statusCode = 500;\n       node.log(\"finish\")\n    }\n\n\nmsg.connection = connection\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1340,
        "wires": [
            [
                "cdf4263f06a418e9"
            ]
        ]
    }
]